@import "tailwindcss";


@theme{
    
        --color-roxo:#6100c2;
        --color-lightPurple:#7900c2;
        --color-dark: #21201e;
        --color-gray: #969696;
        --color-white: #FFFFFF;
        --font-poppins:Poppins,sans-serif;
        --color-whiteGlass:linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 50%) 100%);
        
        --drop-shadow-menu:2px 0 90px rgba(97, 0, 194,40%);
}


body{
    @apply font-poppins;
}

h2{
    @apply z-4;
}